<html>
  <body>
    <section class="comicSelection" id="spiderman">
      <h2 class="characters">Spider-Man</h2>
      <div class="box-container">
        <div class="box">
          <div class="card__face card__face--front">
            <div class="comic-issue">
              <img src="source/images/oneShot/deadpool_oneshot.png" alt="deadpool_family" class="cardSelection">
              <div>
                <a href="#" class="fas fa-heart" id="comicWantIcon"></a>
                <a href="#" class="fas fa-shopping-cart" id="buyComicIcon"></a>
              </div>
              <div class="rating">
                <i class="fas fa-star checked"></i>
                <i class="fas fa-star checked"></i>
                <i class="fas fa-star checked"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <center><span id="comicPricing">$3.99</span></center>
            </div>
          </div>
        </div>

        
      </div>
    </section>

    <center>
      <hr size="5px" width="75%" color="red">  
    </center>

    <section class="comicSelection" id="thor">
      <h2 class="characters">Thor</h2>
      <div class="box-container">
        <div class="box">
          <img src="images/dish-1.png" alt="">
          <div class="stars">
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <p class="description">Super-important one-shot. They’re back, and they’re up to no good, in three stories that will forever change the way you look at yourself, the world around you, and break every funny bone in your body.</p>
          <center><span id="oneShotPricing">$3.99</span></center>
          <div>
            <a href="#" class="fas fa-heart" id="oneShotIcon"></a>
            <a href="#" class="fas fa-shopping-cart" id="oneShotIcon"></a>
          </div>
        </div>
        <div class="box">
          <img src="images/dish-1.png" alt="">
          <div class="stars">
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <p class="description">Super-important one-shot. They’re back, and they’re up to no good, in three stories that will forever change the way you look at yourself, the world around you, and break every funny bone in your body.</p>
          <center><span id="oneShotPricing">$3.99</span></center>
          <div>
            <a href="#" class="fas fa-heart" id="oneShotIcon"></a>
            <a href="#" class="fas fa-shopping-cart" id="oneShotIcon"></a>
          </div>
        </div>
        <div class="box">
          <img src="images/dish-1.png" alt="">
          <div class="stars">
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <p class="description">Super-important one-shot. They’re back, and they’re up to no good, in three stories that will forever change the way you look at yourself, the world around you, and break every funny bone in your body.</p>
          <center><span id="oneShotPricing">$3.99</span></center>
          <div>
            <a href="#" class="fas fa-heart" id="oneShotIcon"></a>
            <a href="#" class="fas fa-shopping-cart" id="oneShotIcon"></a>
          </div>
        </div>
        <div class="box">
          <img src="images/dish-1.png" alt="">
          <div class="stars">
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <p class="description">Super-important one-shot. They’re back, and they’re up to no good, in three stories that will forever change the way you look at yourself, the world around you, and break every funny bone in your body.</p>
          <center><span id="oneShotPricing">$3.99</span></center>
          <div>
            <a href="#" class="fas fa-heart" id="oneShotIcon"></a>
            <a href="#" class="fas fa-shopping-cart" id="oneShotIcon"></a>
          </div>
        </div>
        <div class="box">
          <img src="images/dish-1.png" alt="">
          <div class="stars">
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star checked"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <p class="description">Super-important one-shot. They’re back, and they’re up to no good, in three stories that will forever change the way you look at yourself, the world around you, and break every funny bone in your body.</p>
          <center><span id="oneShotPricing">$3.99</span></center>
          <div>
            <a href="#" class="fas fa-heart" id="oneShotIcon"></a>
            <a href="#" class="fas fa-shopping-cart" id="oneShotIcon"></a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>