<html>
  <body>
    <section class="oneShotIssues" id="oneShot">
      <h1 class="heading" id="oneShotHeading"> Popular One Shots </h1>
      <div class="slide-container swiper">
          <div class="slide-content">
              <div class="card-wrapper swiper-wrapper">
  
                  <div class="card swiper-slide">
                      <div class="image-content">
                          <span class="overlay"></span>
                          <div class="card-image">
                              <img src="source/images/oneShot/deadpool_oneshot.png" alt="deadpool_family" class="card-img" id="myImage">
                          </div>
                      </div>
                      <div class="card-content">
                          <h2 class="characters">Deadpool Family</h2>
                          <div class="stars">
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                          </div>
                          <p class="description">Super-important one-shot. They’re back, and they’re up to no good, in three stories that will forever change the way you look at yourself, the world around you, and break every funny bone in your body.</p>
                          <center><span id="oneShotPricing">$3.99</span></center>
                          <div>
                              <a href="#" class="fas fa-heart" id="oneShotIcon"></a>
                              <a href="#" class="fas fa-shopping-cart" id="oneShotIcon"></a>
                          </div>
                      </div>
                  </div>
  
                  <div class="card swiper-slide">
                      <div class="image-content">
                          <span class="overlay"></span>
                          <div class="card-image">
                              <img src="source/images/oneShot/thor_rage_oneshot.png" alt="thor_rage_of_thor" class="card-img"  id="myImage">
                          </div>
                      </div>
                      <div class="card-content">
                          <h2 class="characters">Thor: The Rage Of Thor</h2>
                          <div class="stars">
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star"></i>
                          </div>
                          <p class="description">The unquenchable rage of Thor knows no satisfaction! It is an earlier day. The perverse and unjust TRIAL OF THOR has left the God of Thunder resentful and bitter. Fed up with Asgard, he has quit the gods.</p>
                          <center><span id="oneShotPricing">$3.99</span></center>
                          <div>
                              <a href="#" class="fas fa-heart" id="oneShotIcon"></a>
                              <a href="#" class="fas fa-shopping-cart" id="oneShotIcon"></a>
                          </div>
                      </div>
                  </div>
  
                  <div class="card swiper-slide">
                      <div class="image-content">
                          <span class="overlay"></span>
                          <div class="card-image">
                              <img src="source/images/oneShot/loki_oneshot.png" alt="siege_loki" class="card-img" id="myImage">
                          </div>
                      </div>
                      <div class="card-content">
                          <h2 class="characters">Siege: Loki</h2>
                          <div class="stars">
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                          </div>
                          <p class="description">Siege: Loki, from Kieron Gillen and Jamie McKelvie, goes deep into the mind of Siege’s most devious major player! These all new stories provide insight into the major players of Siege that set the stage finale!</p>
                          <center><span id="oneShotPricing">$3.99</span></center>
                          <div>
                              <a href="#" class="fas fa-heart" id="oneShotIcon"></a>
                              <a href="#" class="fas fa-shopping-cart" id="oneShotIcon"></a>
                          </div>
                      </div>
                  </div>
  
                  <div class="card swiper-slide">
                      <div class="image-content">
                          <span class="overlay"></span>
                          <div class="card-image">
                              <img src="source/images/oneShot/blackpanther_oneshot.png" alt="blackpanther_sound_and_fury" class="card-img" id="myImage">
                          </div>
                      </div>
                      <div class="card-content">
                          <h2 class="characters">Black Panther: Sound And Fury</h2>
                          <div class="stars">
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                          </div>
                          <p class="description">The technology of Wakanda comes to Dubai! But when the villainous klaw launches a plot to extort billions from the citizens of the city, T'Challa's diplomatic mission becomes a search and rescue for the Black Panther!</p>
                          <center><span id="oneShotPricing">$3.99</span></center>
                          <div>
                              <a href="#" class="fas fa-heart" id="oneShotIcon"></a>
                              <a href="#" class="fas fa-shopping-cart" id="oneShotIcon"></a>
                          </div>
                      </div>
                  </div>
  
                  <div class="card swiper-slide">
                      <div class="image-content">
                          <span class="overlay"></span>
                          <div class="card-image">
                              <img src="source/images/oneShot/namor_oneshot.png" alt="namor_best_defense" class="card-img" id="myImage">
                          </div>
                      </div>
                      <div class="card-content">
                          <h2 class="characters">Namor: The Best Defense</h2>
                          <div class="stars">
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star"></i>
                          </div>
                          <p class="description">The Monarch of the Oceans has declared war once more on the surface world in the pages of Avengers. If this is a war that Namor means to win, he is going to need allies to stand with him!</p>
                          <center><span id="oneShotPricing">$3.99</span></center>
                          <div>
                              <a href="#" class="fas fa-heart" id="oneShotIcon"></a>
                              <a href="#" class="fas fa-shopping-cart" id="oneShotIcon"></a>
                          </div>
                      </div>
                  </div>
  
                  <div class="card swiper-slide">
                      <div class="image-content">
                          <span class="overlay"></span>
                          <div class="card-image">
                              <img src="source/images/oneShot/immortalhulk_oneshot.png" alt="immortal_hulk" class="card-img" id="myImage">
                          </div>
                      </div>
                      <div class="card-content">
                          <h2 class="characters">King In Black: Immortal Hulk</h2>
                          <div class="stars">
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star"></i>
                          </div>
                          <p class="description">The Hulk is in a bad place. Half of his alters are dead or missing — including Bruce Banner — and the Leader's got the rest of him on the ropes. But never let it be said that Joe Fixit doesn't know how to have a good time.</p>
                          <center><span id="oneShotPricing">$3.99</span></center>
                          <div>
                              <a href="#" class="fas fa-heart" id="oneShotIcon"></a>
                              <a href="#" class="fas fa-shopping-cart" id="oneShotIcon"></a>
                          </div>
                      </div>
                  </div>
  
                  <div class="card swiper-slide">
                      <div class="image-content">
                          <span class="overlay"></span>
                          <div class="card-image">
                              <img src="source/images/oneShot/wolverine_oneshot.png" alt="wolverine_dangerous_game" class="card-img" id="myImage">
                          </div>
                      </div>
                      <div class="card-content">
                          <h2 class="characters">Wolverine: Dangerous Games</h2>
                          <div class="stars">
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star"></i>
                          </div>
                          <p class="description">With bloodsports banned in the UK, a group of overfed Brit Aristos have relocated to the Louisiana forests. Their aim? To pit themselves (aided only by a vast pack of slavering hounds) against a truly worthy foe.</p>
                          <center><span id="oneShotPricing">$3.99</span></center>
                          <div>
                              <a href="#" class="fas fa-heart" id="oneShotIcon"></a>
                              <a href="#" class="fas fa-shopping-cart" id="oneShotIcon"></a>
                          </div>
                      </div>
                  </div>
  
                  <div class="card swiper-slide">
                      <div class="image-content">
                          <span class="overlay"></span>
                          <div class="card-image">
                              <img src="source/images/oneShot/captainmerica_oneshot.png" alt="captainamerica_and_crossbones" class="card-img" id="myImage">
                          </div>
                      </div>
                      <div class="card-content">
                          <h2 class="characters">Captain America & Crossbones</h2>
                          <div class="stars">
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                          </div>
                          <p class="description">When a monstrous virus overtakes an isolated island, the skull-faced psychopath is unleashed to rescue the one person who may deliver resistance to the outbreak. Can the man who shot Cap be trusted?</p>
                          <center><span id="oneShotPricing">$3.99</span></center>
                          <div>
                              <a href="#" class="fas fa-heart" id="oneShotIcon"></a>
                              <a href="#" class="fas fa-shopping-cart" id="oneShotIcon"></a>
                          </div>
                      </div>
                  </div>
  
                  <div class="card swiper-slide">
                      <div class="image-content">
                          <span class="overlay"></span>
                          <div class="card-image">
                              <img src="source/images/oneShot/venom_oneshot.png" alt="web_of_venom" class="card-img" id="myImage">
                          </div>
                      </div>
                      <div class="card-content">
                          <h2 class="characters">Web of Venom: Ve'Nam</h2>
                          <div class="stars">
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star"></i>
                          </div>
                          <p class="description">United States of America struggled through the Vietnam War, Nick Fury of SHIELD needed a secret weapon – and when an ancient creature was discovered at an archaeological dig site, he was sure he’d found it.</p>
                          <center><span id="oneShotPricing">$3.99</span></center>
                          <div>
                              <a href="#" class="fas fa-heart" id="oneShotIcon"></a>
                              <a href="#" class="fas fa-shopping-cart" id="oneShotIcon"></a>
                          </div>
                      </div>
                  </div>
  
                  <div class="card swiper-slide">
                      <div class="image-content">
                          <span class="overlay"></span>
                          <div class="card-image">
                              <img src="source/images/oneShot/carnage_oneshot.png" alt="cult_of_carnage" class="card-img" id="myImage">
                          </div>
                      </div>
                      <div class="card-content">
                          <h2 class="characters">Cult of Carnage</h2>
                          <div class="stars">
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star"></i>
                          </div>
                          <p class="description">A new terror has risen on the fringes of the Marvel Universe, stirring in the depths of space. But evil is also rising on Earth, claiming one victim at a time in the name of the killer called CARNAGE.</p>
                          <center><span id="oneShotPricing">$3.99</span></center>
                          <div>
                              <a href="#" class="fas fa-heart" id="oneShotIcon"></a>
                              <a href="#" class="fas fa-shopping-cart" id="oneShotIcon"></a>
                          </div>
                      </div>
                  </div>
  
                  <div class="card swiper-slide">
                      <div class="image-content">
                          <span class="overlay"></span>
                          <div class="card-image">
                              <img src="source/images/oneShot/cable_oneshot.png" alt="cable_reloaded" class="card-img" id="myImage">
                          </div>
                      </div>
                      <div class="card-content">
                          <h2 class="characters">Cable: Reloaded</h2>
                          <div class="stars">
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star"></i>
                          </div>
                          <p class="description">it’s a new era, in a new galaxy, that’s under siege from a deadly new threat...but you can still rely on one man. Cable is locked, loaded and landing on the deadliest planet in X-history – to steal the ultimate weapon.</p>
                          <center><span id="oneShotPricing">$3.99</span></center>
                          <div>
                              <a href="#" class="fas fa-heart" id="oneShotIcon"></a>
                              <a href="#" class="fas fa-shopping-cart" id="oneShotIcon"></a>
                          </div>
                      </div>
                  </div>
  
                  <div class="card swiper-slide">
                      <div class="image-content">
                          <span class="overlay"></span>
                          <div class="card-image">
                              <img src="source/images/oneShot/spiderman_oneshot.png" alt="shadowland_spiderman" class="card-img" id="myImage">
                          </div>
                      </div>
                      <div class="card-content">
                          <h2 class="characters">Shadowland: Spider-Man</h2>
                          <div class="stars">
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                          </div>
                          <p class="description">Mr. Negative takes advantage of the chaos in Shadowland by launching an all-out assault on the Hand. Can Spider-Man and Shang-Chi stop Mr. Negative and his Inner-Demons from adding Hell's Kitchen to his growing empire?</p>
                          <center><span id="oneShotPricing">$3.99</span></center>
                          <div>
                              <a href="#" class="fas fa-heart" id="oneShotIcon"></a>
                              <a href="#" class="fas fa-shopping-cart" id="oneShotIcon"></a>
                          </div>
                      </div>
                  </div>
  
                  <div class="card swiper-slide">
                      <div class="image-content">
                          <span class="overlay"></span>
                          <div class="card-image">
                              <img src="source/images/oneShot/blackcat_oneshot.png" alt="mary_jane_and_black_cat" class="card-img" id="myImage">
                          </div>
                      </div>
                      <div class="card-content">
                          <h2 class="characters">Mary Jane & Black Cat: Beyond</h2>
                          <div class="stars">
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star"></i>
                          </div>
                          <p class="description">Black Cat has been kidnapped, and the only person who can save her is…MARY JANE?! Mary Jane has never liked Felicia Hardy, and now she has to save her life?! But remember, this is the Black Cat we're talking about.</p>
                          <center><span id="oneShotPricing">$3.99</span></center>
                          <div>
                              <a href="#" class="fas fa-heart" id="oneShotIcon"></a>
                              <a href="#" class="fas fa-shopping-cart" id="oneShotIcon"></a>
                          </div>
                      </div>
                  </div>
  
                  <div class="card swiper-slide">
                      <div class="image-content">
                          <span class="overlay"></span>
                          <div class="card-image">
                              <img src="source/images/oneShot/ironman_oneshot.png" alt="marvel_universe_iron_man" class="card-img" id="myImage">
                          </div>
                      </div>
                      <div class="card-content">
                          <h2 class="characters">Marvel Universe Iron Man</h2>
                          <div class="stars">
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star"></i>
                          </div>
                          <p class="description">When the workforce of Stark China vanishes, Iron Man jets out to investigate. He soon discovers that they've been shanghaied to build The Mandarin's latest technological horror: a 1,000-foot long dragon ship.</p>
                          <center><span id="oneShotPricing">$3.99</span></center>
                          <div>
                              <a href="#" class="fas fa-heart" id="oneShotIcon"></a>
                              <a href="#" class="fas fa-shopping-cart" id="oneShotIcon"></a>
                          </div>
                      </div>
                  </div>
  
                  <div class="card swiper-slide">
                      <div class="image-content">
                          <span class="overlay"></span>
                          <div class="card-image">
                              <img src="source/images/oneShot/journeyintomystery_oneshot.png" alt="journey_into_mystery" class="card-img" id="myImage">
                          </div>
                      </div>
                      <div class="card-content">
                          <h2 class="characters">Journey Into Mystery</h2>
                          <div class="stars">
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star checked"></i>
                              <i class="fas fa-star"></i>
                          </div>
                          <p class="description">The first Aesir/Vanir war was the darkest time in Asgard’s past — so dark it was seared from their history books. But now, rebels strike against Asgard, and a second Aesir/Vanir war breaks out!</p>
                          <center><span id="oneShotPricing">$3.99</span></center>
                          <div>
                              <a href="#" class="fas fa-heart" id="oneShotIcon"></a>
                              <a href="#" class="fas fa-shopping-cart" id="oneShotIcon"></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
  
          <div class="swiper-button-next swiper-navBtn"></div>
          <div class="swiper-button-prev swiper-navBtn"></div>
          <div class="swiper-pagination"></div>
      </div>
  </section>
  </body>
  <script>
    // swiper for single shot issues
var swiper = new Swiper(".slide-content", {
  slidesPerView: 4,
  spaceBetween: 20,
  loop: true,
  centerSlide: 'true',
  fade: 'true',
  grabCursor: 'true',
  speed: 3500,
  autoplay: {
      delay: 3000,
      disableOnInteraction: true,
    },
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
    dynamicBullets: true,
  },
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },

  breakpoints:{
      0: {
          slidesPerView: 1,
      },
      520: {
          slidesPerView: 2,
      },
      950: {
          slidesPerView: 4,
      },
  },
});
  </script>
  </html>